@import '../variables';
@import '../mixins';
@import '../functions';

//component styles here
.footer {
    background-color: $shuttle-gray;
    color: $white;
    padding-bottom: 15px;

    a {
        @include link-text();
    }

    .logo {
        margin-bottom: 10px;
    }

    &__subs {
        padding: 25px 0;
    }

    &__subs-text {
        font-size: $fsh3;
    }

    &__subs-box {
        @include box($white);
        height: 45px;
    }

    &__subs-btn {
        width: 100%;
    }

    &__main {
        padding: 35px 0;
    }

    &__social-icon {
        @include link-text();
        display: inline-block;
        vertical-align: middle;
        font-size: 16px;
        margin: 0 1em 0.5em 0;
    }

    &__shops {
        margin-bottom: 30px;
    }

    &__shops-item {
        margin-top: 20px;
    }

    &__contacts {

    }

    &__contacts-item {
        margin-bottom: 15px;

        a {
            display: inline-block;
            @include link-text();
        }
    }

    &__menu {
        md-list-item,
        md-list-item .md-list-item-inner,
        md-list-item:before,
        md-list-item .md-list-item-inner::before {
            min-height: 1.4em;
        }
    }
    &__menu-list {
        margin-bottom: 15px;
        padding: 0;
    }
    &__menu-link {
        @include link-text();
        margin-bottom: 15px;
        &_l {
            font-size: 1.4em;
        }
    }

    &__legal {
        margin-top: 25px;
        margin-bottom: 15px;
        a {
            text-decoration: underline;
        }
    }
}
