@import '../variables';
@import '../mixins';
@import '../functions';
//component styles here
.header {
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  z-index: $ziheader;
  height: 128px;
  background: $brand;
  &__toolbar {
      height: 100%;
  }
  &__menu-bar {
      height: 100%;
  }
}
