@import '../variables';
@import '../mixins';
@import '../functions';

//component styles here
.mailing-subs {
    width: 420px;
    max-width: 100%;
    padding: 30px 50px;
    background-color: #fff;
    box-sizing: border-box;

    &__close {
        display: block;
        float: right;
        cursor: pointer;
    }

    &__title {
        font-family: $ffbold;
        font-size: $fslg;
    }

    &__input-container {
        margin: 0;
    }

    a {
        color: $regent-gray;
        &:hover, &:active, &:visited {
            color: $regent-gray;
        }
    }
}
