@import '../variables';
@import '../mixins';
@import '../functions';

//component styles here
.news-announce-list {
    margin-bottom: 180px;
    text-align: center;

    &__heading {
        font-size: $fslg;
        font-family: $ffbold;
        text-align: left;
        margin: 0 0 30px;
        color: $regent-gray;
    }

    &__grid {
        margin-bottom: 15px;
        text-align: left;
    }

    &__cell {
        width: calc(((25% - 22.5px) * 1) + 0px);
        margin-bottom: 30px;
    }

    &__btn {
        display: inline-block;
    }
}
