@import '../variables';
@import '../mixins';
@import '../functions';

//component styles here
.weekly-promo {
    display: block;
    height: 125px;
    width: 100%;
    margin-bottom: 30px;
    text-align: center;
    color: $white;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    &__container {
        @include link-text();
        width: 100%;
        height: 100%;
        padding: 30px 15px;
        color: inherit;
        box-sizing: border-box;
        background-color: transparentize($black, 0.75);
    }

    &__heading {
        color: inherit;
        margin-bottom: 1em;
        font-size: $fsmd;
        text-transform: uppercase;
        background: none;
        text-align: center;
    }

    &__content {
        width: 100%;
    }
}
