//utils
$images: "./../img";
$fontspath: "./../fonts";
$imgslg: "/desktop";
$imgssm: "/tablet";
$imgsxs: "/mobile";


//font families
$fflight: 'robotolight', 'Helvetica Neue', sans-serif !default;
$ffthin: 'robotothin', 'Helvetica Neue', sans-serif !default;
$ffreg: 'robotoregular', 'Helvetica Neue', sans-serif !default;
$ffmd: 'robotomedium', 'Helvetica Neue', sans-serif !default;
$ffbold: 'robotobold', 'Helvetica Neue', sans-serif !default;

$ffbtn : $ffmd;

//font-sizes
$fsh1: 72px !default;
$fsh2: 36px !default;
$fsh3: 24px !default;

$fslg: 18px !default;
$fsmd: 15px !default;
$fstxt: 13px !default;
$fssm: 11px !default;
$fsxs: 9px !default;
$fsbtn: $fslg !default;

$lhtxt: 1.45;
$lhreg: 1.11;

//dimentions
$contentmh: 100vh;

$elbr: 0px !default;

$conpad: 15px !default;
$content-mw: 1280px !default;

$headerh: 128px;

//layout breakpoints
$lbrp-lg:     1280px !default;
$lbrp-md:     1024px !default;
$lbrp-sm:     960px !default;
$lbrp-xs:     599px !default;
$lbrp-xxs:     374px !default;

//colors
$white: #ffffff;
$black: #000000;
$picton-blue: #37b9e0;
$gothic: #6a96a2;
$geyser: #cfd8dc;
$silver-chalice: #adadad;
$fun-green: #009933;

//main colors
$bg: $white;
$border: $silver-chalice;
$brand: $geyser;

//z-indexes
$ziheader: 8000;
